server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDR:localhost:8848}
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: account-service
          uri: lb://account-service
          predicates:
            - Path=/account-service/**
          filters:
            - StripPrefix=1
        - id: billing-service
          uri: lb://billing-service
          predicates:
            - Path=/billing-service/**
          filters:
            - StripPrefix=1
        - id: support-service
          uri: lb://support-service
          predicates:
            - Path=/support-service/**
          filters:
            - StripPrefix=1
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"

management:
  endpoints:
    web:
      exposure:
        include: health,info
